<!-- User details -->
<div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02" />
  <label class="input-group-text" for="inputGroupFile02">Upload</label>
</div>

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Name</label>
      <input
        type="text"
        class="form-control"
        id="input-group-text"
        placeholder="fullName"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword4"
        placeholder="Password"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword4"
        placeholder="Password"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="1234 Main St"
    />
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">Province</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>Gauteng</option>
        <option>Limpopo</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="form-check"></div>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>

  <!-- class="btn btn-primary btn-lg btn-block" type="submit" -->
</form>
