<!-- Button trigger modal -->
<div class="container mt-3 mb-2">
  <button
    (click)="update()"
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#exampleModal"
  >
    Update profile
  </button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Details</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="col-md-6">
              <label>Email</label>
              <input
                type="text"
                class="form-control"
                placeholder="Email"
                formControlName="id"
                value="{{ emailX }}"
              />
            </div>
            <div class="col-md-6">
              <label>Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="fullName"
                value="{{ nameX }}"
              />
            </div>
            <div class="col-md-6">
              <label>Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                value="{{ passwordX }}"
              />
            </div>
            <div class="col-md-6">
              <label>Confirm Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                value="{{ confirmPasswordX }}"
              />
            </div>
          </div>
          <div class="">
            <label>Role</label>
            <input
              type="text"
              class="form-control"
              placeholder="1234 Main St"
              value="{{ roleX }}"
            />
          </div>

          <div class="form-row">
            <!-- <div class="form-group col-md-4">
                <label for="inputState">Province</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>Gauteng</option>
                  <option>Limpopo</option>
                </select>
              </div> -->
          </div>
          <div class="">
            <div class="form-check"></div>
          </div>

          <!-- class="btn btn-primary btn-lg btn-block" type="submit" -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
